<div class="row text-white pt-3" style="color: white;">
    <h1><%- page.title %></h1>
    <div class="text-white">
        <%= date(page.date, config.date_format) %> 
    </div>
    <%- page.content %>
</div>