<nav>
    <% if(page.next) { %>
        <a class="btn btn-success my-3" href="<%- url_for(page.next_link) %>">Mais antigas</a>
    <% } %>
    <% if(page.prev) { %>
        <a class="btn btn-success my-3" href="<%- url_for(page.prev_link) %>">Mais recentes</a>
    <% } %>
</nav>