<!-- Ativo apenas em telas md e acima. -->
<div class="text-center list-group col-lg-4 d-none d-lg-block px-3">
    <div class="sticky-top rounded-bottom" style="top: 152px;">
        <h5 class="text-white headC p-1 m-0 b-0 rounded-top">Categorias</h5> 
        <% for (let i of site.categories.data) { %>
            <a class="list-group-item mainC text-white border-bottom border-0 border-success px-3" href="<%- url_for(i.path) %>"><%= i.name %></a>
        <%}%>
    </div>
</div>