<footer class="blog-footer">
    <p>Modelo de blog construído para <a href="http://getbootstrap.com">Bootstrap</a> por <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>Adaptado para o Hexo por <a href="http://www.codeblocq.com/">klugjo</a>.</p>
    <p><a href="#">Voltar ao topo</a></p>
</footer>