<div class="blog-header">
    <div>
        <h1 class="blog-title"><%= config.title %></h1>
        <p class="lead blog-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
    </div>
    <%- partial('_partial/menu') %>
</div>